.swiper-container-wrapper--timeline .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background: #fff; */
    background: #000;
    min-height: 300px;
    justify-content: flex-start;
    border-radius: 10px;
}

.swiper-slide p {
    /* color: #00e5ff; */
    color: rgb(159, 159, 159);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.swiper-slide h6 {
    color: rgb(190, 190, 190);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.swiper-slide .list-item{
    padding-bottom: 20px;
    color: rgb(159, 159, 159);
}

.swiper-slide h6 .timeline-year {
    color: rgb(159, 159, 159);
    font-weight: lighter;
    font-style: normal;
    font-size: small;
}

.swiper-container-wrapper--timeline .swiper-slide .swiper-container {
    padding: 0;
    width: 100%;
    height: 80vh;
}
.swiper-container-wrapper--timeline .swiper-slide .title {
    font-size: 18px;
    opacity: 0;
    transition: 0.5s ease 0.5s;
}
.swiper-container-wrapper--timeline .swiper-slide-active .title {
    opacity: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
    position: relative;
    margin-bottom: 70px;
    background-color: transparent;
    height: 4px;
    border-bottom: 1px solid #f50057;
    width: 75%;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
    background-color: #f50057;
    height: 3px;
    top: 2px;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
    position: absolute;
    top: 2px;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: #f50057;
    content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
    position: absolute;
    top: 3px;
    width: 86%;
    height: 1px;
    background-color: #f50057;
    content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-custom {
    position: relative;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    line-height: 1.66;
    bottom: 0;
    z-index: 11;
    width: 75%;
    display: flex;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
    position: absolute;
    font-weight: 400;
    right: 0;
    transform: translateX(50%);
    transition: 0.2s all ease-in-out;
    transition-delay: 0s;
    cursor: pointer;
    z-index: 1;
    color: #f50057;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
    position: absolute;
    top: calc(100% + 19px);
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    width: 12px;
    height: 12px;
    background: #f50057;
    border-radius: 2rem;
    content: "";
    transition: 0.2s all ease-in-out;
    transition-delay: 0s;
    z-index: 1;
}
/* Class for when point of time is active */
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
    font-weight: 400;
    transition-delay: 0.4s;
    color: #f50057;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
    background: #f50057;
    width: 25px;
    height: 25px;
    transition-delay: 0.4s;
}
/* Class for before point of time is active */
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
    color: #f500568c;
    font-weight: 16px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
    background: #f50057;
}

@media only screen and (max-width: 768px) {
    .swiper-container-wrapper--timeline .swiper-slide .swiper-container {
        padding: 0;
        width: 100%;
        height: 100%;
    }
}